    <div id="partialHead">
        <h1>What is RateMyClass?</h1>
    </div>
    <div>
        <p class="text about">
            <img class="iLogo" src="img/ischool.jpg" alt="iSchool logo">
            RateMyClass, developed by a group of Information School students at the University of Washington, is your
            ultimate information source for reading reviews about certain courses at your university! RateMyClass was
            developed by students, for students, and is maintained by students to ensure our service remains as accurate as
            possible.
            <br>
            <br>
            You can be certain that reviews about each class provided through our service are legitimate and written by
            actual students who have taken the course. Our patented verification system ensures that every single review is
            a correct direct representation of the student's overall perception about the course. No instructor has access
            to leave a review about a course, it is entirely up to the students to review classes they have taken.
        </p>
    </div>

    <div id="partialHead">
        <h1 class="legal">Legal Information</h1>
    </div>
    <div>
        <p class="text about">
            The Legal Information and Terms of Use for RateMyClass are written below. We may modify the terms below without
            prior notice at anytime. By using this website you agree to all of the terms and conditions.

            <span class="legal_head">Third Party Advertising</span>

            We may use third-party advertising companies to serve ads when you visit our website. These companies use
            non-personally identifiable information regarding your visit to this website and other sites, such as the user
            IP address, pages viewed, date and time of your visit, and number of times you have viewed an ad (but not your
            name, address, or other personal information), to serve ads to you on this site and other sites that may be of
            interest to you. In the course of serving advertisements to this site, our third-party advertiser may place or
            recognize a unique cookie on your browser.
            Specifically, Google, as a third party vendor, uses cookies to serve ads on this website. Google’s use of the
            DART cookie enables it to serve ads to you based on your visit to this website and other websites on the
            Internet. You may opt out of the use of the DART cookies by visiting the Google ad and content network privacy
            policy.

            In addition, we use clear GIFs or pixel tags to help manage our online advertising. These clear GIFs enable our
            ad serving company to recognize a browser’s cookie when a browser visits this site. This allows us to learn
            which banner ads bring users to our website. The information we collect and share through this technology is not
            personally identifiable.

            <span class="legal_head">Intellectual Property</span>

            You represent and warrant that: (i) you own the content posted by you on or through the site or otherwise have
            the right to grant the license set forth below, and (ii) the posting of your content does not violate the
            privacy rights, publicity rights, copyrights, contract rights or any other rights of any person.
            By displaying or posting content on the site, you hereby grant us a nonexclusive global license to publish the
            content submitted by you to the site. You also grant us global nonexclusive adaptation and resale rights over
            any content and material submitted to the site. These nonexclusive publishing license and resale/adaptation
            rights extend to any materials submitted “for publication” within the site, including both message board
            postings and content submitted for uploading and subsequent publishing within non-message board portions of the
            site. Neither we nor our staff will be responsible for any misleading, false or otherwise injurious information
            and advice communicated on the site or for any results obtained from the use of such information or advice. We
            will not be liable for any loss or damage suffered by a user through the user’s reliance on information and
            advice gained on the site.

            <span class="legal_head">Infringement Policy</span>

            Pursuant to 17 U.S.C. Section 512 as amended by Title II of the Digital Millennium Copyright Act (the “Act”), we
            reserve the right, but not the obligation, to terminate your license to use the site if we determine in its sole
            and absolute discretion that you are involved in infringing activity, including allege acts of first-time or
            repeat infringement, regardless of whether the material or activity is ultimately determined to be infringing.
            We accommodate and do not interfere with standard technical measures used by copyright owners to protect their
            materials. In addition, pursuant to 17 U.S.C. Section 512 (c), we have implemented procedures for receiving
            written notification of claimed infringements and for processing such claims in accordance with the Act.
            In addition, any written notice regarding any defamatory or infringing activity, whether of a copyright, patent,
            trademark or other proprietary right must include the following information:
            A. A physical or electronic signature of a person authorized to act on behalf of (1) the owner of an exclusive
            right that is allegedly infringed or (2) the person defamed.
            B. Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a
            single online site are covered by a single notification, a representative list of such works at that site.
            Similarly, for materials that are defamatory or infringe patent, trademark, or other proprietary rights of a
            third party, please submit a list of such materials.
            C. Identification of the material that is claimed to be infringing, to be the subject of infringing activity, or
            that is claimed to be defamatory and that is to be removed or access to which is to be disabled, and information
            reasonably sufficient to permit us to locate the material.
            D. Information reasonably sufficient to permit us to contact you, such as your address, telephone number, and/
            or e-mail address.
            E. A statement that you have a good faith belief that use of the material, in the manner complained, of is not
            authorized by the copyright or other proprietary right owner, its agent, or the law.
            F. A statement that the information in the notification is accurate, and under penalty of perjury, that you are
            authorized to act on behalf of the owner of an exclusive right that is allegedly infringed or on behalf of the
            person defamed.

            <span class="legal_head">Disclaimers and Limitation of Liability</span>

            You understand and agree that the site is provided “As-Is” and that we assume no responsibility for your ability
            to (or any costs or fees associated with your ability to) obtain access to the site. Nor do we assume any
            liability for the failure to store or maintain any user communications or personal settings.
            NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM THE SITE OR THROUGH OR FROM ITS SERVICES
            SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS AND CONDITIONS.
            IN NO EVENT SHALL THE SITE OR ITS OWNER BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT, CONSEQUENTIAL,
            EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT DAMAGES ARISING FROM YOUR USE OF THE
            SITE OR ITS SERVICES EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
            Some jurisdictions do not allow the disclaimer, exclusion or limitation of incidental or consequential damages,
            so the foregoing disclaimer, exclusion and limitation may not apply to you, and you may have other legal rights
            that vary according to jurisdiction. In no event will damages provided by law (if any) apply unless they are
            required to apply by statute, notwithstanding their exclusion by contract.
            We make no representation that materials on the site are appropriate or available for use in other locations,
            and accessing them from territories where their content is illegal is prohibited. Those who choose to use or
            access the site from other locations do so on their own initiative and are responsible for compliance with local
            laws.

            <span class="legal_head">Privacy Policy</span>

            We recognize that privacy of your personal information is important. Here is information on what types of
            personal information we receive and collect when you use and visit the site, and how we safeguard your
            information. We never sell your personal information to third parties.
            Log Files
            As with most other websites, we collect and use the data contained in log files. The information in the log
            files include your IP (internet protocol) address, your ISP (internet service provider), the browser you used to
            visit our site, the time you visited our site and which pages you visited throughout our site.

            <span class="legal_head">Cookies and Web Beacons</span>

            We do use cookies to store information, such as your personal preferences when you visit our site. This could
            include only showing you a popup once in your visit, or the ability to login to some of our features, such as
            forums.

            We also use third party advertisements to support our site. Some of these advertisers may use technology such as
            cookies and web beacons when they advertise on our site, which will also send these advertisers (such as Google
            through the Google AdSense program) information including your IP address, your ISP, the browser you used to
            visit our site, and in some cases, whether you have Flash installed. This is generally used for geotargeting
            purposes (showing New York real estate ads to someone in New York, for example) or showing certain ads based on
            specific sites visited (such as showing cooking ads to someone who frequents cooking sites).
            You can chose to disable or selectively turn off our cookies or third-party cookies in your browser settings, or
            by managing preferences in programs such as Norton Internet Security. However, this can affect how you are able
            to interact with our site as well as other websites. This could include the inability to login to services or
            programs, such as logging into forums or accounts.

            This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google
            Analytics uses “cookies”, which are text files placed on your computer, to help the website analyze how users
            use the site. The information generated by the cookie about your use of the website (including your IP address)
            will be transmitted to and stored by Google on servers in the United States . Google will use this information
            for the purpose of evaluating your use of the website, compiling reports on website activity for website
            operators and providing other services relating to website activity and internet usage. Google may also transfer
            this information to third parties where required to do so by law, or where such third parties process the
            information on Google’s behalf. Google will not associate your IP address with any other data held by Google.
            You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note
            that if you do this you may not be able to use the full functionality of this website. By using this website,
            you consent to the processing of data about you by Google in the manner and for the purposes set out above.

            <span class="legal_head">TERMS AND CONDITIONS OF USE: Terms of Use</span>

            The site is provided to you for your personal entertainment, information, education and communication through
            our featured content and interactive forums on the World Wide Web. Please read these Terms and Conditions
            carefully. These Terms and Conditions include our policy for acceptable use of the site and content posted on
            the site, your rights, obligations and restrictions regarding your use of the site and the site’s Privacy
            Policy. By accessing this site, you accept, without limitation or qualification, the following Terms and
            Conditions. You are only authorized to use the site and its services if you agree to abide by all applicable
            laws and to these Terms and Conditions. If you do NOT accept the Terms and Conditions, then please discontinue
            your use of the site. We may modify these Terms and Conditions from time to time and such modification shall be
            effective upon posting on the site. You agree to be bound to any changes to these Terms and Conditions when you
            use the site after any such modification is posted. Is it important that you review these Terms and conditions
            regularly to ensure you are updated as to any changes made. These Terms and Conditions constitute the entire
            agreement regarding your use of the site and the services it offers and supercede any such prior terms. Without
            limiting any other provisions of this Agreement, you may not use this site for any purpose that is unlawful or
            prohibited by this Agreement and/or any applicable additional terms. Your access to this site may be terminated
            immediately in our sole discretion, with or without notice, if you fail to comply with any provision of this
            agreement and/or additional terms, or for any other reason, or no reason. You expressly agree not to: Use this
            site or its contents for any commercial purpose; Access, monitor or copy any content or information of this
            Website using any robot, spider, scraper or other automated means or any manual process for any purpose without
            our express written permission; Take any action that imposes, or may impose, in our discretion, an unreasonable
            or disproportionate burden on our infrastructure; and “frame,” “mirror” or otherwise incorporate any part of
            this site into any other website without our prior written permission.

            <span class="legal_head">Content on the site</span>

            The material on this site is protected by copyright, trademark, and other applicable laws. You may not modify,
            copy, reproduce, republish, upload, post, transmit, publicly display, prepare derivative works based on, or
            distribute in any way any material from the site, including but not limited to text, audio, video, code and
            software. The site may provide you and other users an opportunity to submit, post, display, transmit and/or
            exchange information, ideas, opinions, photographs, images, video, creative works or other information,
            messages, transmissions or material to us, the site or others (“Post” or “postings”). Postings do not reflect
            our views; and we do not have any obligation to monitor, edit, or review any postings on the site. We assume NO
            responsibility or liability arising from the content of any such postings nor for any error, defamation, libel,
            slander, omission, falsehood, obscenity, pornography, profanity, danger, or inaccuracy contained in any
            information within such postings on the site. You are strictly prohibited from posting or transmitting any
            unlawful, threatening, libelous, defamatory, obscene, scandalous, inflammatory, pornographic, or profane
            material that could constitute or encourage conduct that would be considered a criminal offense, give rise to
            civil liability, or otherwise violate any law. Without limiting the foregoing, the following behaviors are
            strictly prohibited: Strong, vulgar, obscene or otherwise harmful language, Racially, ethnically or otherwise,
            objectionable language, Harassing, intimidating, stalking or threatening other community members, Libelous,
            defamatory or otherwise tortious language, Online vandalism, Impersonation of another person, Posting,
            distributing, transmitting or promoting illegal content, Invasion of another’s privacy, Actions that are hurtful
            to minors, Posting, providing, transmitting or otherwise making available any materials or information
            infringing on the rights of a third party, Posting, providing, transmitting or otherwise making available any
            junk mail or spam, and Posting, uploading, emailing or otherwise transmitting any material that contains any
            malicious computer code, or reverse engineering or hacking any materials on the site. We will fully cooperate
            with any law enforcement authorities or court order requesting or directing the site to disclose the identity of
            anyone posting any such information or materials.

            <span class="legal_head">Links</span>

            The site may provide links to other websites or resources. Because we have no control over such sites and
            resources, you acknowledge and agree that we are not responsible for the availability of such external sites and
            resources, and do not endorse and is not responsible or liable for any content, advertising, products or other
            materials on or available from such sites or resources. You further acknowledge and agree that we shall not be
            liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with
            the use or reliance on any such content, goods or services available on or through any such site or resource.

            Posting your own URL or link to your own website or blog is strictly prohibited. The site does not allow others
            to post URLs or links as comments on posts and pages that are found anywhere within the entire domain or
            network. Only URLs and links that go to official news sources (media channels), government websites, educational
            institutions and magazines are allowed. Readers or users who post a URL or link in a comment will have them
            removed and further violation of this policy will result in a ban from posting future comments.
            The site does not self-promote on other blogs and websites, with the exception of Twitter, Facebook, and a few
            other social media networks. Therefore, we kindly ask that all bloggers, contributors and other persons,
            organizations or agents do not self-promote on the site.

            <span class="legal_head">Indemnity</span>

            You agree to indemnify and hold us, and our subsidiaries, affiliates, directors, officers, agents, vendors or
            other partners and employees harmless from any claim or demand, including attorneys’ fees, made by any third
            party due to or arising out of any material or information posted, provided, transmitted or otherwise made
            available by you on the site or through the site’s services, or by your violation of these Terms and Conditions,
            or by your violation of the rights of another.
        </p>
    </div>