<form name="signinForm" novalidate id="signUpForm">

    <h2>Already have an account?</h2>

    <!-- Bind model "email" to this input and make the help-block show up if bad format -->
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" ng-model="user.email" required>
        <!-- Show an error message if the email is not valid -->
        <p class="help-block" ng-if="signinForm.email.$invalid && signinForm.email.$touched">Not an email!</p>
    </div>


    <!-- Bind model "password" to this input -->
    <div class="form-group">
        <label for="pw">Password:</label>
        <input id="pw" name="password" type="password" class="form-control" required ng-model="user.password">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="signIn(user.email, user.password)" ng-disabled="signinForm.email.$invalid || signinForm.password.$invalid">Sign-in</button>
    <br>
    <a href="">Forgot your password?</a>

</form>
<form name="signupForm" novalidate id="signUpForm">

    <h2>Need an account?</h2>

    <div class="form-group">
        <label for="email">Handle:</label>
        <input type="newEmail" id="email" name="email" class="form-control" ng-model="newUser.handle" required>
        <!-- Show an error message if the email is not valid -->
<!--         <p class="help-block" ng-if="signupForm.email.$invalid || signupForm.email.$touched">Not an email!</p>
 -->    </div>


    <div class="form-group">
        <label for="email">Email:</label>
        <input type="newEmail" id="email" name="email" class="form-control" ng-model="newUser.email" required>
        <!-- Show an error message if the email is not valid -->
    </div>


    <!-- Bind model "password" to this input -->
    <div class="form-group">
        <label for="pw">Password:</label>
        <input id="pw" name="newPassword" type="password" class="form-control" required ng-model="newUser.password">
    </div>



    <!-- Submit buttons -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="signUp(newUser.handle, newUser.email, newUser.password)" ng-disabled="signupForm.$invalid" >Sign-up</button>
    </div>

    <p>{{errorMessage}}</p>
</form>
