
<h3>Change Password</h3>


<!--<form name="changePassForm" id="changePassForm">-->
	<!--<input type="text" placeholder="Email..." ng-model="email">-->
	<!--<input type="password" placeholder="Old Password..." ng-model="oldPass">-->
	<!--<input type="password" placeholder="New Password..." ng-model="newPass">-->
	<!--<button type="submit" class="btn btn-primary" ng-click="changePass()">Change Password</button>-->
<!--</form>-->
	<form name="changePassForm" id="changePassForm">

		<div class="form-group"
			 ng-class="{ 'has-error' : changePassForm.email.$invalid && (!changePassForm.email.$pristine || changePassForm.email.$touched)}">
			<label class="email">Email</label>
			<input type="email" id="emailField" name="email" placeholder="Email..." class="form-control"
				   ng-model="email" required>

			<p ng-show="changePassForm.email.$error.email && !changePassForm.email.$pristine" class="help-block errorEmail">Enter a
				valid email.</p>

			<p ng-show="changePassForm.email.$error.required && changePassForm.email.$touched" class="help-block enterEmail">We need to
				know your email!</p>
		</div>

		<!--PASSWORD VALIDATION-->
		<div class="form-group" ng-class="{'has-error' :changePassForm.oldPass.$invalid && changePassForm.oldPass.$touched}">
			<label for="oldPass">Old Password:</label>
			<!-- <input type="password" name="oldPass" class="form-control" ng-model="changePassForm.oldPass" id="oldPass" placeholder="Old Password..." required> -->
			<input type="password" name="oldPass" class="form-control" placeholder="Old Password..." id="oldPass" ng-model="oldPass" required>
			<p ng-show="changePassForm.oldPass.$invalid && changePassForm.oldPass.$touched" class="help-block enterPassword">Old Password
				is required.</p>
		</div>

		<!--CONFIRM PASSWORD VALIDATION -->
		<div class="form-group"
			 ng-class="{'has-error' :changePassForm.newPassword.$invalid && changePassForm.newPassword.$touched}">
			<label for="newPassword">New Password:</label>
			<!-- <input type="password" name="newPass" placeholder="Confirm Password..." class="form-control"
				   ng-model="changePassForm.newPass" id="newPass" ng-change="checkPass()" required> -->
			<input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="New Password..." ng-model="newPassword" required>

			<!--checks if both both passwords OldPassword and password are equal-->

			<!-- <p ng-show="showPasswordsDoNotMatch" class="help-block passwordMatch">Passwords do not match.</p>
 -->
			<p ng-show="changePassForm.newPassword.$invalid && changePassForm.newPassword.$touched"
			   class="help-block enterConfirmPassword">New Password is required.</p>

		</div>
		<div class="form-group"
			 ng-class="{'has-error' :changePassForm.newPass.$invalid && changePassForm.newPass.$touched}">
			<label for="newPass">Confirm New Password:</label>
			<input type="password" name="newPass" placeholder="Confirm New Password..." class="form-control"
				   ng-model="newPass" id="newPass" ng-change="checkPass()" required>
			

			<!--checks if both both passwords OldPassword and password are equal-->

			<p ng-show="showPasswordsDoNotMatch" class="help-block passwordMatch">Passwords do not match.</p>

			<p ng-show="changePassForm.newPass.$invalid && changePassForm.newPass.$touched"
			   class="help-block enterConfirmPassword">Type in your new password.</p>

		</div>

		<!--change password button-->
		<button class="btn btn-primary" type="submit" name="submit" ng-disabled="changePassForm.$invalid || showPasswordsDoNotMatch"
				ng-model=" submitFormButton" ng-click="changePass()">Change Password</button>

	<!--end of the form-->
	</form>

