<div class="review modal-body">
        <h1>Review {{ClassName}}</h1>
        <!-- Review form -->
        <form name="editReviewForm" id="review-input">

        <uib-rating ng-model="RATE" max="max" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"
                    aria-labelledby="custom-icons-1" state-off="'glyphicon glyphicon-heart-empty'"
                    state-on="'glyphicon glyphicon-heart'"></uib-rating>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <label for="prof">Professor: </label>
                <input type="text" ng-model="prof" name="prof" id="prof" ng-value="PROF">
            </div>
            <div class="col-lg-6">
                <label for="prof">Quarter: </label>
                <input type="text" ng-model="quarter" name="quarter" id="quarter" ng-value="QUARTER">
            </div>
        </div>
        <div class="row">
        <div class="col-lg-3">
        <label for="helpfulness">Helpfulness: </label>
        <select name="helpfulness" ng-model="helpfulness" ng-options="score for score in helpfulnesses" class="form-control" required ng-selected="HELPFUL"></select>
        </div>
        <div class="col-lg-3">
            <label for="workload">Workload: </label>
        <select name="workload" ng-model="workload" ng-options="score for score in workloads" class="form-control" required ng-selected="HELPFULNESS"></select>
        </div>
        <div class="col-lg-3">
            <label for="easiness">Easiness: </label>
        <select name="easiness" ng-model="easiness" ng-options="score for score in easinesses" class="form-control" required></select>
        </div>
        <div class="col-lg-3">
            <label for="gpa">GPA: </label>
        <select name="gpa" ng-model="gpa" ng-options="score for score in gpas" class="form-control" required></select>
        </div>
        </div>
        <br>
        <textarea placeholder="Leave more comments..." name="text" class="form-control" ng-model="newReview" required></textarea>
        <br>

            <div class="form-group send-review">
                <button type="submit" class="btn btn-primary" ng-click="modifyReview()" ng-disabled="editReviewForm.$invalid">
                    <i class="fa fa-pencil-square-o"></i> Edit Review
                </button>
            </div>
            
        </form>
    </div>