<div id="partialHead">
    <h1>Help</h1>
</div>
<div>
		<p class="text">
		<b>What is this site for?</b><br>
		This is a site where people can search for different classes offered at different universities in the United States, and be able to see how others' reviews about that specific class.
		<br><hr></p>
		<p  class="text">
		<b>How can leave a review?</b><br>
		You need to sign in to leave a review. In order to leave a review, just go to the specific class that you want.
		<br><hr></p>
		<p  class="text">
		<b>I want to change my password?</b><br>
		Click on the icon on the top right corner, you will find a tab called change password. Click on that, it will give you further instruction on how to change your password.
		<br><hr></p>
		<p  class="text">
		<b>I want to add a class, where is the tab for it?</b><br>
		Once you log in, you will be able to see the Add Class tab.
		<br><hr></p>
</div>