<p id="welcome">Welcome to RateMyClass!</p>
<div id="partialHead">
    <h1>What is RateMyClass?</h1>
    <p>Find out what others say about courses that you are interested in!<br>
       Find the needed textbooks for the class or get help from previous students!</p>
</div>

<hr id="homeHR">

<div id="previewContainer">
	<div class="homePreview">
		<img src="../img/blah.jpg">
		<hr>
		<h2>Title of Class</h2>
	</div>	
	<div class="homePreview">
		<img src="../img/blah.jpg">
		<hr>
		<h2>Title of Class</h2>
	</div>
	<div class="homePreview">
		<img src="../img/blah.jpg">
		<hr>
		<h2>Title of Class</h2>
	</div>
	<div class="homePreview">
		<img src="../img/blah.jpg">
		<hr>
		<h2>Title of Class</h2>
	</div>


	<div class="homePreview">
		<img src="../img/blah.jpg">
		<hr>
		<h2>Title of Class</h2>
	</div>	
	<div class="homePreview">
		<img src="../img/blah.jpg">
		<hr>
		<h2>Title of Class</h2>
	</div>
	<div class="homePreview">
		<img src="../img/blah.jpg">
		<hr>
		<h2>Title of Class</h2>
	</div>
	<div class="homePreview">
		<img src="../img/blah.jpg">
		<hr>
		<h2>Title of Class</h2>
	</div>
</div>