<div id="homePage">
<p id="welcome">Welcome to RateMyClass!</p>
<div id="partialHead">
    <h1>What is RateMyClass?</h1>
    <p>Find out what others say about courses that you are interested in!<br>
       Find the needed textbooks for the class or get help from previous students!</p>
</div>

<hr id="homeHR">

<p>Recently Updated:</p>
<div id="previewContainer">
	<div class="homePreview" ng-repeat="obj in classList| orderBy: '-timestamp' | limitTo:4 ">
		<i class="{{obj.icon}}"></i>
		<hr>
		<a ui-sref="review({school:obj.institution.INSTNM, name:obj.name})"><h2>{{obj.name}}</h2></a>
	</div>	
</div>


</div>