<!--<input type="text" placeholder="Enter your email and we will email you a new password" ng-model="email">-->
	<!--<button type="submit" class="btn btn-primary" ng-click="resetPass()">Reset Password</button>-->


<div class="form-group"
	 ng-class="{ 'has-error' : changePassForm.email.$invalid && (!changePassForm.email.$pristine || changePassForm.email.$touched)}">
	<label class="email">Email:</label>
	<input type="email" id="emailField" name="email" placeholder="Enter your email and we will email you a new password" class="form-control"
		   ng-model="email" required>

	<p ng-show="changePassForm.email.$error.email && !changePassForm.email.$pristine" class="help-block errorEmail">Enter a
		valid email.</p>

	<p ng-show="changePassForm.email.$error.required && changePassForm.email.$touched" class="help-block enterEmail">We need to
		know your email!</p>
	<br>

	<button type="submit" class="btn btn-primary" ng-click="resetPass()">Reset Password</button>

</div>