<!--This page pops up after the search so that authorised user can see name and the description of the class-->
<!--and also leave a review-->

<!--CLASS NAME-->


<!--CLASS DESCRIPTION-->
<div class="pageWrap">

    <!--SEARCH-->
    <div class="searchBar pull-right">
        <input type="text" ng-model="search"/>
        <div ng-repeat="review in reviews | filter:search "> {{review.text}}</div>

        </div>
    </div>

    </div>
    </ul>

    <!--REVIEW-->
    <div class="review container">
        <h1>Review</h1>
        <!-- Review form -->
        <form name="reviewForm" id="review-input">
       <!--  <textarea placeholder="Enter your review..." name="text" class="form-control" ng-model="newReview" required
                  ng-maxlength="500"></textarea>
            <p class="help-block" ng-show="reviewForm.text.$error.maxlength">500 character limit!</p> -->
        <uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
        <br>
        <label for="prof">Professor: </label>
        <input type="text" name="prof" id="prof">
        <br>
        <label for="gpa">GPA: </label>
        <select name="gpa" ng-model="gpa" ng-options="score for score in gpas" class="form-control" required></select>
        <label for="workload">Workload: </label>
        <select name="workload" ng-model="workload" ng-options="score for score in workloads" class="form-control" required></select>
        <label for="easiness">Easiness: </label>
        <select name="easiness" ng-model="easiness" ng-options="score for score in easinesses" class="form-control" required></select>
        <label for="helpfulness">Helpfulness: </label>
        <select name="helpfulness" ng-model="helpfulness" ng-options="score for score in helpfulnesses" class="form-control" required></select>
        <br>
        <textarea placeholder="Leave more comments..." name="text" class="form-control" ng-model="newReview" required></textarea>
        <br>
            <div class="form-group send-review">
                <button type="submit" class="btn btn-primary" ng-click="review()" ng-disabled="reviewForm.$invalid">
                    <i class="fa fa-pencil-square-o"></i> Share
                </button>
            </div>
        </form>
    </div>

    <!-- Show everyone's reviews -->
    <!-- Use ng-repeat directive to repeat a div for each element in reviews -->
    <!-- order by time -->
    <div class="review-box" ng-repeat="review in reviews | filter:search | orderBy:'-time'">
        <div>
            <span class="time">{{review.time}}</span>
        </div>

        <!-- Use an expression to show the text of the tweet -->
        <div class="review">{{review.text}}</div>
        <div class="likes">
            <i ng-click="like(review)" class="fa fa-heart"></i>
            <!-- Use an expression to show the number of likes -->
            <span></span>
        </div>
    </div>
<!-- end shown results -->
</div>
