<!--This page pops up after the search so that authorised user can see name and the description of the class-->
<!--and also leave a review-->

<!--CLASS NAME-->


<!--CLASS DESCRIPTION-->
<div class="pageWrap">

    <!--SEARCH-->
    <div class="searchBar pull-right">
        <input type="text" ng-model="search"/>
        <div ng-repeat="review in reviews | filter:search "> </div>

        </div>
    </div>

    </div>
    </ul>

    <!--REVIEW-->
    <div class="review container">
        <h1>Review {{ClassName}}</h1>
        <!-- Review form -->
        <form name="reviewForm" id="review-input">

        <uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
        <br>
        <label for="prof">Professor: </label>
        <input type="text" ng-model="prof" name="prof" id="prof">
        <br>
        <label for="gpa">GPA: </label>
        <select name="gpa" ng-model="gpa" ng-options="score for score in gpas" class="form-control" required></select>
        <label for="workload">Workload: </label>
        <select name="workload" ng-model="workload" ng-options="score for score in workloads" class="form-control" required></select>
        <label for="easiness">Easiness: </label>
        <select name="easiness" ng-model="easiness" ng-options="score for score in easinesses" class="form-control" required></select>
        <label for="helpfulness">Helpfulness: </label>
        <select name="helpfulness" ng-model="helpfulness" ng-options="score for score in helpfulnesses" class="form-control" required></select>
        <br>
        <textarea placeholder="Leave more comments..." name="text" class="form-control" ng-model="newReview" required></textarea>
        <br>
            <div class="form-group send-review">
                <button type="submit" class="btn btn-primary" ng-click="submitReview()" ng-disabled="reviewForm.$invalid">
                    <i class="fa fa-pencil-square-o"></i> Share
                </button>
            </div>
        </form>
    </div>

    <!-- Show everyone's reviews -->
    <!-- Use ng-repeat directive to repeat a div for each element in reviews -->
    <!-- order by time -->
    <div class="review-box" ng-repeat="review in reviews | filter:{id} | orderBy:'-time'">

        <div><span class="time">{{review.time | date:'short'}}</span></div>
        <!-- Use an expression to show the text, gpa,workload, helpfulness, easiness of the tweet -->
        <div class="reviewP">
            <uib-rating ng-model="review.star" max="max" readonly="!isReadonly"></uib-rating>
        </div>
        <div class="reviewP">Professor: {{review.prof}}</div>
        <div class="reviewP">gpa: {{review.gpa}}</div>
        <div class="reviewP">Workload: {{review.workload}}</div>
        <div class="reviewP">Helpfulness: {{review.helpfulness}}</div>
        <div class="reviewP">Easiness: {{review.easiness}}</div>
        <div class="reviewP">{{review.text}}</div>
        
        <br>
        <br>

    </div>
<!-- end shown results -->
</div>
